@charset "utf-8";

::selection {
  color: var(--color-white);
  background-color: var(--color-black);
}

::-moz-selection {
  color: var(--color-white);
  background-color: var(--color-black);
}

::-webkit-selection {
  color: var(--color-white);
  background-color: var(--color-black);
}

:root {
  /* 폰트 */
  --font-Montserrat: "Montserrat";
  --font-Pretendard: "Pretendard";
  --font-HarvestBailey: "HarvestBailey";

  /* 아이덴티티 색상 */
  /* --color-black: #2d3029; */
  --color-black: #090e02;
  --color-white: #f5f9ef;
}

html {
  color: var(--color-black);
  background-color: var(--color-white);
  font-family: var(--font-Pretendard);
  font-size: 16px;
}

html a {
  color: var(--color-black);
}

section[class^="sec-vh"] {
  height: 100dvh;
  min-height: 919px;
}

@media screen and (max-width: 1680px) {
  section[class^="sec-vh"] {
    height: initial;
    min-height: initial;
  }
}

/* 레이아웃 */
.text-right {
  text-align: right;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
}

.header .inner {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 14px 30px;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font-Montserrat);
}

/* 전체 메뉴 버튼 */
.header .menu-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  background: none;
  transform: translate(-50%, -50%);
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
}

/* 네비게이션 영역 */
.header .nav ul {
  display: flex;
}

.header .nav li {
  margin-right: 32px;
}

.header .nav li:last-child {
  margin-right: 0;
}

.header .nav a {
  text-transform: uppercase;
}

.main .animation-hidden {
  overflow: hidden;
}

.footer {
  position: relative;
}

.footer .inner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid var(--color-black);
}

.footer .sec-title .title {
  font-size: 20px;
}

.footer .sns-list {
  display: flex;
}

.footer .sns-item {
  margin: 10px;
}

.footer .sns-item a {
  padding: 10px;
  font-size: 20px;
}

@media screen and (max-width: 1600px) {
  .footer .inner {
    display: block;
  }

  .footer .sec-title .title {
    margin-bottom: 10px;
  }

  .footer .sns-item {
    margin: 0 10px 0 0;
  }

  .footer .sns-item a {
    padding: 0;
  }
}

/* 애니메이션 백그라운드 색상 */
.animation-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}

/* 텍스트 타이핑 애니메이션 */
.textTyping {
  position: relative;
  color: var(--color-black); /* 텍스트 타이핑 색상 */
  padding-right: 4px;
  margin-right: 4px;
}

.textTyping::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -42px; /* 타이핑 커서 위치 */
  width: 37px; /* 타이핑 커서 가로 사이즈 */
  /* bottom: 0px; */
  height: 200px;
  transform: translateY(-50%);
  background-color: var(--color-black); /* 타이핑 커서 색상 */
  animation: blink 0.1s infinite;
}

.textTyping.stop-blinking::before {
  animation: none;
}

@keyframes blink {
  50% {
      content: none;
  }
}

/* 콘텐츠 더 보기 */
.more-link {
  display: inline-flex;
  position: relative;
  align-items: center;
  height: 20px;
  padding: 10px 0;
  background-image: linear-gradient(var(--color-black), var(--color-black));
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  background-size: 0% 1px;
  box-shadow: inset 0 -2px var(--color-black);
  text-transform: uppercase;
  transition: background-size .5s, -webkit-box-shadow .1s ease-out;
  transition: box-shadow .1s, background-size .5s;
  transition: box-shadow .1s, background-size .5s, -webkit-box-shadow .1s;
  -webkit-box-shadow: inset 0 -2px var(--color-black);
  -webkit-transition: background-size .5s, -webkit-box-shadow .1s;
}

.more-link .text {
  position: absolute;
  top: 50%;
  left: 0;
  line-height: 1;
  transform: translate(0, calc(-50%));
  transition: transform .35s linear;
  -webkit-transition: transform .35s linear;
}

.more-link .arrow {
  position: absolute;
  top: 50%;
  right: 0;
  width: 36px;
  height: 18px;
  background: url("../image/icon_more_arrow_black.svg") no-repeat center / contain;
  transform: translate(0, calc(-50%));
  transition: transform .35s linear;
  -webkit-transition: transform .35s linear;
}

.more-link:hover {
  box-shadow: inset 0 -40px var(--color-black);
  -webkit-box-shadow: inset 0 -40px var(--color-black);
}

.more-link:hover .text {
  color: var(--color-white);
  transform: translate(10px, calc(-50%));
  -webkit-transform: translate(10px, calc(-50%));
}

.more-link:hover .arrow {
  background-image: url("../image/icon_more_arrow_white.svg");
  transform: translate(-10px, calc(-50%));
  -webkit-transform: translate(-10px, calc(-50%));
}

/* 스크롤 시 가로 콘텐츠 */
#horizontal_scroll { overflow: hidden;height: 100vh;}
#horizontal_scroll h2 {margin-bottom: 60px; text-align: center; font-size: 2.25rem;}
#horizontal_scroll ul {display: flex; padding: 0 40px;}
#horizontal_scroll li {flex-shrink: 0; margin-right: 40px;}
#horizontal_scroll li a {display: block;}
#horizontal_scroll li figure {background-color: rgb(226, 54, 149);}
#horizontal_scroll li img {width: 100%;}
#horizontal_scroll li p {margin-top: 20px; font-size: 24px; font-weight: 700;}

/* 마우스 커서 */
html,
a,
button {
  cursor: none;
}

.cursor {
  position: fixed;
  z-index: 999999;
  width: 10px;
  height: 10px;
  background-color: var(--color-black);
  border-radius: 999px;
  /* top: 0; */
  /* left: 0; */
  pointer-events: none;
  will-change: transform, width, height;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.cursor.active {
  display: none;
}

.cursor-view {
  display: flex;
  position: fixed;
  top: -45px;
  left: -45px;
  z-index: 999999;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  border-radius: 999px;
  pointer-events: none;
  will-change: transform, width, height;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.cursor-view .text {
  color: var(--color-black);
  font-size: 24px;
}

.cursor-view.active {
  display: none;
}

/* 가로 스크롤 콘텐츠 영역 */
.horizontal-scroll {
  overflow: hidden;
  height: 100vh;
}

.horizontal-scroll .sec-title {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 560px;
  text-transform: uppercase;
  font-family: var(--font-HarvestBailey);
  font-weight: normal;
}

.horizontal-scroll ul {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 100vw;
}

.horizontal-scroll li {
  position: relative;
  flex-shrink: 1;
  margin-right: 40px;
}

.horizontal-scroll li a {
  display: block;
}

.horizontal-scroll li .desc {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 10px;
  font-size: 24px;
}

.horizontal-scroll li .keyword {
  display: block;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: var(--color-black);
  border-radius: 999px;
}