@charset "utf-8";

/* 비주얼 */
.sec-visual_wrap .inner {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.sec-visual_wrap .text-wrap {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.sec-visual_wrap .text-wrap .tag-wrap {
  display: flex;
}

.sec-visual_wrap .text-wrap .tag-wrap:nth-child(2n-1) {
  justify-content: center;
}

#sec-visual .text-wrap .text {
  transform: translateY(100%);
}

#sec-visual .desc-wrap .desc {
  transform: translateY(100%);
}

.sec-visual_wrap .desc-wrap {
  position: absolute;
  top: calc(50% - 42px);
  right: 0;
  transform: translateY(-50%);
}

.sec-visual_wrap .scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 160px;
  transform: translateX(-50%);
  background-color: #000;
}

/* 소개 영역 */
.sec-intro .inner {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.sec-intro .text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sec-intro .text-wrap .line {
  width: 100%;
  height: 1px;
  margin: 60px 0;
}

.sec-intro .text-wrap .desc {
  text-align: center;
}

.sec-intro .text-wrap .desc + .desc {
  margin-top: 24px;
}