@charset "utf-8";

/* 비주얼 영역 */
.sec-visual {
  position: relative;
}

.sec-visual .inner {
  width: 100%;
  height: 100%;
}

.sec-visual .title-area {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 2.0833vw;
  box-sizing: border-box;
}

.sec-visual .title-area .text {
  display: flex;
}

.sec-visual .title-area .layout-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec-visual .title-area .scroll-down {
  width: 12.3958vw;
  height: 12.3958vw;
}

.sec-visual .title-area .scroll-down::after {
  content: "";
  display: block;
  width: 12.3958vw;
  height: 12.3958vw;
  animation: scrollDownRotate 10s linear infinite;
}

/* 비주얼 영역 텍스트 1초 마다 변경하는 스타일 */
.sec-visual .title-area .posr {
  position: relative;
  width: 154.2px;
  height: 238px;
  display: flex;
  align-items: center;
}

.sec-visual .title-area .on,
.sec-visual .title-area .off {
  position: absolute;
  left: 0;
  width: 100%;
}

.sec-visual .title-area .on {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease;
  line-height: 1;
}

.sec-visual .title-area .off {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  line-height: 1;
}

.sec-visual .title-area .sign-text {
  font-size: 172px;
  display: flex;
  align-items: center;
  justify-content: center;
} /* end 비주얼 영역 텍스트 1초 마다 변경하는 스타일 */

.sec-visual .visual_hello {
  width: 36.406vw;
  height: 7.188vw;
}

.sec-visual .visual_hello img {
  width: 100%;
  height: 100%;
}

.sec-visual .visual_ui_developer {
  width: 11.198vw;
  height: 7.188vw;
}

.sec-visual .visual_ui_developer img {
  width: 100%;
  height: 100%;
}

.sec-visual .visual_ux_publisher {
  width: 11.198vw;
  height: 7.188vw;
}

.sec-visual .visual_ux_publisher img {
  width: 100%;
  height: 100%;
}

@keyframes scrollDownRotate {
  0% {
    transform:  rotate(0deg);
  }
  100% {
    transform:  rotate(360deg);
  }
}
@media screen and (max-width: 1680px) {
  .sec-visual .title-area {
    position: static;
    padding-top: 200px;
  }
}

/* 소개 영역 */
.sec-intro .inner {
  width: 1600px;
  margin: 0 auto;
}

.sec-intro .text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sec-intro .text-wrap .title {
  margin-bottom: 40px;
}

.sec-intro .text-wrap .desc {
  text-align: center;
}

.sec-intro .text-wrap .desc + .desc {
  margin-top: 24px;
}

/* 프론트엔드 포트폴리오 영역 */
.sec-front_end {
  margin-bottom: 15.625vw;
}

.sec-front_end .sec-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 40px;
}

.sec-front_end .work-list {
  display: flex;
  flex-wrap: wrap;
}

.sec-front_end .work-item {
  width: calc(100% / 2);
}

.sec-front_end .img-wrap img {
  width: 100%;
}

.sec-front_end .work-desc {
  padding: 40px;
}

.sec-front_end .work-desc .title {
  margin-bottom: 20px;
}

@media screen and (max-width: 1680px) {
  .sec-front_end .work-item {
    width: calc(100% / 1);
  }
}