@charset "utf-8";

/* 비주얼 영역 */
.sec-visual {
  position: relative;
}

.sec-visual .inner {
  width: 100%;
  height: 100%;
}

.sec-visual .title-area {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 2.0833vw;
  box-sizing: border-box;
}

.sec-visual .title-area .text {
  display: flex;
}

.sec-visual .title-area .layout-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec-visual .title-area .scroll-down {
  width: 12.3958vw;
  height: 12.3958vw;
}

.sec-visual .title-area .scroll-down::after {
  content: "";
  display: block;
  width: 12.3958vw;
  height: 12.3958vw;
  animation: scrollDownRotate 10s linear infinite;
}

/* 비주얼 영역 텍스트 1초 마다 변경하는 스타일 */
.sec-visual .title-area .posr {
  position: relative;
  width: 154.2px;
  height: 238px;
  display: flex;
  align-items: center;
}

.sec-visual .title-area .on,
.sec-visual .title-area .off {
  position: absolute;
  left: 0;
  width: 100%;
}

.sec-visual .title-area .on {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease;
  line-height: 1;
}

.sec-visual .title-area .off {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  line-height: 1;
}

.sec-visual .title-area .sign-text {
  font-size: 172px;
  display: flex;
  align-items: center;
  justify-content: center;
} /* end 비주얼 영역 텍스트 1초 마다 변경하는 스타일 */

.sec-visual .visual_hello {
  width: 36.406vw;
  height: 7.188vw;
}

.sec-visual .visual_hello img {
  width: 100%;
  height: 100%;
}

.sec-visual .visual_ui_developer {
  width: 11.198vw;
  height: 7.188vw;
}

.sec-visual .visual_ui_developer img {
  width: 100%;
  height: 100%;
}

.sec-visual .visual_ux_publisher {
  width: 11.198vw;
  height: 7.188vw;
}

.sec-visual .visual_ux_publisher img {
  width: 100%;
  height: 100%;
}

@keyframes scrollDownRotate {
  0% {
    transform:  rotate(0deg);
  }
  100% {
    transform:  rotate(360deg);
  }
}
@media screen and (max-width: 1680px) {
  .sec-visual .title-area {
    position: static;
    padding-top: 200px;
  }
}

/* sec-work 영역 */
.sec-work .inner {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.sec-work .text {
  display: block;
}

.sec-work .work-list {
  padding: 0 2.0833vw 100vh;
}

.sec-work .work-item {
  position: relative;
  height: 500px;
}

.sec-work .work-link {
  position: absolute;
  word-break: keep-all;
}

.sec-work .work-item.nanro .work-link {
  right: 0;
}

.sec-work .work-item.hanatourcompany .work-link {
  left: 0;
}

.sec-work .work-item.directhi .work-link {
  left: 50%;
  transform: translateX(-50%);
}

.sec-work .work-item.seoul .work-link {
  left: 120px;
}

.sec-work .text-area .title {
  padding-top: 10px;
}

/* 포트폴리오 영역 */
/* .sec_portfolio .inner {
  padding: 320px 0;
}

.sec_portfolio .portfolio-item {
  padding-bottom: 320px;
}

.sec_portfolio .portfolio-item:last-child {
  padding-bottom: 0;
}

.sec_portfolio .portfolio-list .img-wrap {
  position: relative;
  top: 100px;
  z-index: -1;
  width: calc(100vw - 90px - calc((100vw* 0.334) / 2 - 80px));
}

.sec_portfolio .portfolio-list .img-wrap::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

.sec_portfolio .portfolio-list .img-wrap.right {
  margin-left: auto;
  margin-right: 0;
}

.sec_portfolio .portfolio-list img {
  width: 100%;
}

.sec_portfolio .text-contents {
  width: calc(calc((100vw* 0.666) / 4) * 4);
  margin: 0 auto;
}

.sec_portfolio .text-area {
  margin-bottom: 40px;
}

.sec_portfolio .text-area .title {
  position: relative;
  display: inline-block;
  transform: translateX(-10px);
} */

.sec_portfolio .text-area .title-bg {
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1; */
  /* transform: translateY(100%); */
}

.sec_portfolio .text-area .title-name {
  /* display: inline-block; */
  /* transform: translateY(100%); */
}

.sec_portfolio .text-area .sub-title {
  /* display: block;
  padding: 40px 0 20px; */
}

/* .sec_portfolio .link-list .item {
  margin-bottom: 10px;
}

.sec_portfolio .more-link {
  justify-content: space-between;
  width: 210px;
}

@media screen and (max-width: 1680px) {
  .sec_portfolio .inner {
    padding: 160px 0;
  }
  
  .sec_portfolio .portfolio-item {
    padding-bottom: 160px;
  }
  
  .sec_portfolio .portfolio-list .img-wrap {
    top: initial;
    z-index: initial;
    width: initial;
  }
  
  .sec_portfolio .portfolio-list .img-wrap::after {
    height: 20%;
  }
  
  .sec_portfolio .portfolio-list .img-wrap.right {
    margin-left: initial;
    margin-right: initial;
  }
  
  .sec_portfolio .portfolio-list img {
    width: 100%;
  }
  
  .sec_portfolio .text-contents {
    width: initial;
    margin: initial;
    padding: 0 20px;
  }
  
  .sec_portfolio .text-area .title {
    transform: translateX(-5px);
  }
  
  .sec_portfolio .more-link {
    width: 100%;
  }
} */

/* 프론트엔드 포트폴리오 영역 */
.sec-front_end {
  margin-bottom: 15.625vw;
}

.sec-front_end .sec-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 40px;
}

.sec-front_end .work-list {
  display: flex;
  flex-wrap: wrap;
}

.sec-front_end .work-item {
  width: calc(100% / 2);
}

.sec-front_end .img-wrap img {
  width: 100%;
}

.sec-front_end .work-desc {
  padding: 40px;
}

.sec-front_end .work-desc .title {
  margin-bottom: 20px;
}

@media screen and (max-width: 1680px) {
  .sec-front_end .work-item {
    width: calc(100% / 1);
  }
}