@charset "UTF-8";

/* work 공통 */
html {
  font-size: 16px;
}

/* end - work 공통 */

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border: none;
  z-index: 1000;
}

.header .content-inner {
  padding: 1.25rem 2rem; /* 20px 32px */
}

/* 개인 포트폴리오 헤더 ver 2 */
.header .cotnent-head {
  align-items: center;
}

.header .list {
  display: flex;
}

.header .list li {
  margin: 0 2.25rem 0 0; /* 0 36px 0 0 */
}

.header .list a {
  color: #fff;
}

.header .menu {
  position: relative;
  border: 1px solid #fff;
  width: 3rem; /* 48px */
  height: 3rem; /* 48px */
  z-index: 1002;
}

.header .menu.on {
  border: 1px solid #000;
}

.header .menu .line-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.625rem; /* 26px */
}

.header .menu .line {
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  margin: 0 0 0.375rem 0; /* 0 0 6px 0 */
}

.header .menu.on .line {
  background: #000;
}

.header .menu.on .line:nth-child(1) {
  transform: rotate(135deg) translate(0%);
  margin: 0;
}

.header .menu.on .line:nth-child(2) {
  display: none;
}

.header .menu.on .line:nth-child(3) {
  transform: rotate(45deg) translate(0%);
  margin: 0;
}

.header .menu .line:last-child {
  margin: 0;
}

.container {
  margin: 11.875rem 0 0 0; /* 190px 0 0 0 */
}

.main-container {
  margin: 0;
}

.content-inner {
  padding: 0 2rem; /* 20px 32px */
}

.footer .content-inner {
  padding: 1.25rem 2rem; /* 20px 32px */
}

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

.section-wrapper {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.section-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.section-wrapper {
  position: relative;
  height: 100vh;
}

.section-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: all 1s ease;
}

.section {
  height: 100vh;
  background-color: #ff0;
}

.section:nth-child(1) {
  background-color: aliceblue;
}

.section:nth-child(2) {
  background-color: aquamarine;
}

.section:nth-child(3) {
  background-color: bisque;
}

.section p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 4rem; /* 64px */
  font-weight: 700;
}

.section-footer {
  height: 10vh;
}

/* :root {
  --vh: 100%;
} */

/* html,
body {
   height: 100vh;
   height: var(--vh);
} */

.fullpage {
  height: 100vh;
  /* height: calc(var(--vh, 1vh) * 100); */
  /* height: -webkit-fill-available; */
  /* height: fill-available; */
  /* min-height: -webkit-fill-available; */
  /* width: 100vw; */
  /* height: 100vh; */
  /* height: calc(var(--vh, 1vh) * 100); */

  overflow: hidden;
  touch-action: pan-x;
  /* height: calc(var(--vh, 1vh) * 100); */
}
body {
  touch-action: pan-x;
}
body {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}



/* body { */
  /* min-height: 100vh; */
  /* mobile viewport bug fix */
  /* min-height: -webkit-fill-available; */
/* } */

/* html { */
  /* height: -webkit-fill-available; */
/* } */
/* body {
  min-height: 100vh;
  
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
} */
/* body {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
} */
/* @media only screen and (max-device-width: 640px) {
  .fullpage { 
    height: calc(var(--var, 1vh) * 100);
  }
} */

.fullpage .section-fullpage {
  transition: all 0.7s ease;
  transition-duration: 1s;
}

.fullpage .fullpage-item {
  height: 100vh;
  font-size: 100px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullpage .fullpage-item:nth-child(1) {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* background-color: #07b53b; */
}

.fullpage .fullpage-item:nth-child(1)::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.fullpage .fullpage-item:nth-child(1) video {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  /* margin: 100px; */
  object-fit: cover;
}

.fullpage .fullpage-item:nth-child(1) source {

}

.fullpage .fullpage-item:nth-child(2) {
  position: relative;
}

.fullpage .fullpage-item:nth-child(2) img {
  height: 100vh;
}

.fullpage .fullpage-item:nth-child(2) {background-color: #ecedf1;}

.fullpage .fullpage-item:nth-child(2)::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.fullpage .fullpage-item:nth-child(3) {background-color: yellow;}

.fullpage .fullpage-item:nth-child(4) {background-color: green;}

.fullpage .fullpage-item:nth-child(5) {background-color: blue;}

.fullpage .fullpage-item:nth-child(6) {background-color: rebeccapurple;}

.fullpage .fullpage-item:nth-child(7) {background-color: aquamarine;}

.fullpage .fullpage-item:nth-child(8) {background-color: firebrick;}

.fullpage .fullpage-item:nth-child(9) {background-color: darkkhaki;}

.fullpage .fullpage-item .fullpage-title {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}

.fullpage .text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 20;
}

.fullpage .text-content .title {
  font-size: 48px;
  margin: 0 0 6px 0;
  color: #fff;
}

.fullpage .text-content .desc {
  margin: 0 0 36px 0;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}

.fullpage .text-content .page-link {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 24px;
  transition: all 0.5s ease;
}

.fullpage .text-content .page-link:hover {
  background-color: #fff;
  color: #000;
}

.footer {
  color: #fff;
  background-color: darkblue;
}

@media screen and (max-width: 1281px) and (min-width: 1025px) {
  html { font-size: 14px; }

  .header .content-inner {
    padding: 1.429rem 2.286rem; /* 20px 32px */
  }

  .header .menu {
    position: relative;
    border: 1px solid #000;
    width: 2.286rem; /* 32px */
    height: 2.286rem; /* 32px */
  }

  .header .menu .line-box {
    width: 1.143rem; /* 16px */
  }
  
  .header .menu .line {
    margin: 0 0 0.286rem 0; /* 0 0 4px 0 */
  }

  .container {
    margin: 13.571rem 0 0 0; /* 190px 0 0 0 */
  }

  .main-container {
    margin: 0;
  }

  .content-inner {
    max-width: none;
    padding: 0 2.286rem; /* 0 32px */
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  html { font-size: 14px; }

  .header .content-inner {
    padding: 1.429rem 2.286rem; /* 20px 32px */
  }

  .header .menu {
    position: relative;
    border: 1px solid #000;
    width: 2.286rem; /* 32px */
    height: 2.286rem; /* 32px */
  }

  .header .menu .line-box {
    width: 1.143rem; /* 16px */
  }
  
  .header .menu .line {
    margin: 0 0 0.286rem 0; /* 0 0 4px 0 */
  }

  .container {
    margin: 13.571rem 0 0 0; /* 190px 0 0 0 */
  }

  .main-container {
    margin: 0;
  }

  .content-inner {
    max-width: none;
    padding: 0 2.286rem; /* 0 32px */
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  html { font-size: 14px; }

  .header .content-inner {
    padding: 1.429rem 2.286rem; /* 20px 32px */
  }

  .header .menu {
    position: relative;
    border: 1px solid #000;
    width: 2.286rem; /* 32px */
    height: 2.286rem; /* 32px */
  }

  .header .menu .line-box {
    width: 1.143rem; /* 16px */
  }
  
  .header .menu .line {
    margin: 0 0 0.286rem 0; /* 0 0 4px 0 */
  }

  .container {
    margin: 13.571rem 0 0 0; /* 190px 0 0 0 */
  }

  .main-container {
    margin: 0;
  }

  .content-inner {
    max-width: none;
    padding: 0 2.286rem; /* 0 16px */
  }
}

@media screen and (max-width: 480px) and (min-width: 0px) {
  html { font-size: 14px; }

  .header .content-inner {
    padding: 1.429rem 1.143rem; /* 20px 16px */
  }

  .header .menu {
    position: relative;
    border: 1px solid #000;
    width: 2.286rem; /* 32px */
    height: 2.286rem; /* 32px */
  }

  .header .menu .line-box {
    width: 1.143rem; /* 16px */
  }
  
  .header .menu .line {
    margin: 0 0 0.286rem 0; /* 0 0 4px 0 */
  }

  .container {
    margin: 13.571rem 0 0 0; /* 190px 0 0 0 */
  }

  .main-container {
    margin: 0;
  }

  .fullpage .text-content .title {
    font-size: 1.714rem; /* 24px */
  }

  .fullpage .text-content .desc {
    font-size: 1.143rem; /* 16px */
    padding: 0 2.286rem; /* 0 32px */
  }

  .fullpage .text-content .page-link {
    font-size: 1.143rem; /* 16px */
    padding: 0.571rem 0.857rem; /* 8px 12px */
  }
  
  .content-inner {
    max-width: none;
    padding: 0 1.143rem; /* 0 16px */
  }
}