@charset "utf-8";

/* 비주얼 */
.sec-visual_wrap .text-wrap {
  text-transform: uppercase;
}

.sec-visual_wrap .text-wrap .title {
  position: absolute;
}

.sec-visual_wrap .text-wrap .tag-wrap {
  height: 0.87em;
  font-family: var(--font-Pretendard);
  font-size: 8.75vw;
  line-height: 0.9em;
  letter-spacing: -0.02em;
}

.sec-visual_wrap .text-wrap .tag-wrap:nth-child(2n-1) {
  height: 0.825em;
  font-family: var(--font-HarvestBailey);
  line-height: 0.95em;
  letter-spacing: 0;
  word-spacing: -0.3em;
}

/* 소개 영역 */
.sec-intro {
  background-color: #000;
}

.sec-intro .text-wrap {
  color: #fff;
}

.sec-intro .text-wrap .title {
  font-size: 2.7083vw;
  font-family: var(--font-HarvestBailey);
  font-weight: normal;
  text-transform: uppercase;
}

.sec-intro .text-wrap .line {
  background-color: #434343;
}

.sec-intro .text-wrap .desc {
  color: #f5f5f5;
  font-size: max(32px, 1.8750vw);
  word-break: keep-all;
  line-height: 1.5;
  font-weight: 100;
}

.sec-intro .text-wrap .fw {
  color: #fff;
  font-weight: 700;
  font-style: normal;
}

@media screen and (max-width: 1200px) {
  /* 비주얼 */
  .sec-visual_wrap .text-wrap .tag-wrap {
    font-size: 13.3333vw;
  }

  .sec-visual_wrap .desc-wrap {
    font-size: 1.6667vw;
  }

  /* 소개 영역 */
  .sec-intro .inner {
    max-width: 90vw;
  }

  .sec-intro .text-wrap .title {
    font-size: 4vw;
  }

  .sec-intro .text-wrap .desc {
    font-size: 3vw;
  }
}

@media screen and (max-width: 767px) {
  /* 비주얼 */
  .sec-visual_wrap .desc-wrap {
    font-size: max(14px, 2.6076vw);
  }

  /* 소개 영역 */
  .sec-intro .text-wrap .title {
    font-size: 36px;
  }

  .sec-intro .text-wrap .desc {
    font-size: 18px;
  }

  .sec-intro .text-wrap .desc br {
    display: none;
  }
}