@charset "utf-8";

/* 여백 초기화 */
body,
div,
ul,
li,
ol,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
figure,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form,
blockquote,
address,
thead,
tbody,
tfoot,
caption {
  margin: 0;
  padding: 0;
}

/* a 링크 초기화 */
a {
  display: block;
  text-decoration: none;
}

/* 버튼 초기화 */
button {
  border: none;
  cursor: pointer;
}

/* 이미지 초기화 */
img {
  vertical-align: top;
}

/* 블릿기호 초기화 */
ul,
ol {
  list-style: none;
}

/* 웹 접근성 스크린리더기 */
.blind {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}