@charset "UTF-8";

/* work 공통 */
html {
  font-size: 16px;
}
/* end - work 공통 */

.list-content ul {
  display: flex;
  flex-wrap: wrap;
  transform: translate(-0.938rem, 0px); /* -15px, 0px */
  margin: 0 -1.875rem 0 0; /* 0 -30px 0 0 */
}

.list-content ul li {
  width: calc((100% / 3) - 1.875rem); /* 30px */
  padding: 0 0.938rem; /* 0 15px */
  margin: 0 0 7.5rem 0; /* 0 0 120px 0 */
}

.list-content .desc-wrap {
  margin: 2rem 0 0 0; /* 32px 0 0 0 */
}

.list-content .desc-wrap em {
  display: block;
  font-size: 1.25rem; /* 20px */
}

.list-content .desc-wrap strong {
  display: block;
  font-size: 2.25rem; /* 36px */
}

@media screen and (max-width: 1560px) and (min-width: 1281px) {
  html { font-size: 15px; }
}

@media screen and (max-width: 1281px) and (min-width: 1025px) {
  html { font-size: 14px; }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  html { font-size: 14px; }

  .list-content ul li {
    width: calc((100% / 2) - 2.143rem); /* 30px */
    padding: 0 1.071rem; /* 0 15px */
    margin: 0 0 8.571rem 0; /* 0 0 120px 0 */
  }

  .list-content .desc-wrap em {
    font-size: 1rem; /* 14px */
  }

  .list-content .desc-wrap strong {
    font-size: 1.714rem; /* 24px */
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  html { font-size: 14px; }

  .list-content ul li {
    width: calc((100% / 1) - 2.143rem); /* 30px */
    padding: 0 1.071rem; /* 0 15px */
    margin: 0 0 4.286rem 0; /* 0 0 60px 0 */
  }

  .list-content .desc-wrap em {
    font-size: 1rem; /* 14px */
  }

  .list-content .desc-wrap strong {
    font-size: 1.714rem; /* 24px */
  }
}

@media screen and (max-width: 480px) and (min-width: 0px) {
  html { font-size: 14px; }

  .list-content ul li {
    width: calc((100% / 1) - 2.143rem); /* 30px */
    padding: 0 1.071rem; /* 0 15px */
    margin: 0 0 4.286rem 0; /* 0 0 60px 0 */
  }

  .list-content .desc-wrap em {
    font-size: 1rem; /* 14px */
  }

  .list-content .desc-wrap strong {
    font-size: 1.714rem; /* 24px */
  }
}
