.item {
  width: calc(50% - 26px);
  padding: 0 8px;
  margin: 0 16px 16px 0;
  border: 1px solid #d0d7de;
  border-radius: 6px;
}

.item:nth-child(2n) {
  margin-right: 0;
}

.item .area {
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.intro {
  display: flex;
  align-items: center;
}

.intro a {
  color: #0969da;
  font-weight: 700;
  font-size: 14px;
  margin: 0 6px;
}

.intro strong {
  font-size: 12px;
  border: 1px solid #d6dce2;
  color: #656d75;
  padding: 0 6px;
  border-radius: 9px;
}

.desc > p,
.language {
  font-size: 12px;
}

.desc,
.language {
  margin: 8px 0 0 0;
}

.language_text {
  margin: 0 6px 0 0;
}

.language {
  display: inline-flex;
  align-items: center;
}
