.repositories-content {
  width: 896px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.item {
  /* width: calc(50% - 16px); */
  width: 100%;
  padding: 0 8px;
  margin: 0 0 16px 0;
}

.item > div {
  padding: 16px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  box-sizing: border-box;
}
