@charset "utf-8";

.skill {
  margin: 16px 0 0 0;
}

.title {
  display: block;
  margin: 0 0 8px 0;
  font-size: 24px;
}

.list {
  display: flex;
  align-items: center;
}

.item {
  margin: 0 0 12px 0;
}
