@charset "UTF-8";

/* 
  애니메이션 작성 순서
  animation-name: name;
  animation-duration: 0.1s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  
  애니메이션 속성값 한 줄 처리
  animation: name duration timing-function delay iteration-count direction fill-mode;
*/





/* 햄버거 메뉴 텍스트 on */
@keyframes full-menu-text-on {
  from { opacity: 0; transform: translate(0, 100%); }
  to { opacity: 1; transform: translate(0, 0);}
}
.header .full-menu-content.on .full-menu li:nth-child(1) > a { animation: full-menu-text-on 0.9s 0.6s both; }
.header .full-menu-content.on .full-menu li:nth-child(2) > a { animation: full-menu-text-on 1.1s 0.8s both; }
.header .full-menu-content.on .full-menu li:nth-child(3) > a { animation: full-menu-text-on 1.3s 1.0s both; }

/* 햄버거 메뉴 백그라운드 on */
@keyframes full-menu-on {
  from { opacity: 0; transform: translate(0, -100%);}
  to { opacity: 1; transform: translate(0, 0);}
}
.header .full-menu-content.on .bg-item:nth-child(1) { animation: full-menu-on 0.4s 0.1s both; }
.header .full-menu-content.on .bg-item:nth-child(2) { animation: full-menu-on 0.5s 0.2s both; }
.header .full-menu-content.on .bg-item:nth-child(3) { animation: full-menu-on 0.6s 0.3s both; }
.header .full-menu-content.on .bg-item:nth-child(4) { animation: full-menu-on 0.7s 0.4s both; }





/* 햄버거 메뉴 텍스트 off */
@keyframes full-menu-text-off {
  from { opacity: 1; transform: translate(0, 0); }
  to { opacity: 0; transform: translate(0, 100%); }
}
.header .full-menu-content .full-menu li:nth-child(1) > a { animation: full-menu-text-off 0.4s 0.1s both; }
.header .full-menu-content .full-menu li:nth-child(2) > a { animation: full-menu-text-off 0.5s 0.2s both; }
.header .full-menu-content .full-menu li:nth-child(3) > a { animation: full-menu-text-off 0.6s 0.3s both; }

/* 햄버거 메뉴 백그라운드 off */
@keyframes full-menu-off {
  from { opacity: 1; transform: translate(0, 0);}
  to { opacity: 0; transform: translate(0, -100%);}
}
.header .full-menu-content .bg-item:nth-child(1) { animation: full-menu-off 0.7s 0.6s both; }
.header .full-menu-content .bg-item:nth-child(2) { animation: full-menu-off 0.8s 0.7s both; }
.header .full-menu-content .bg-item:nth-child(3) { animation: full-menu-off 0.9s 0.8s both; }
.header .full-menu-content .bg-item:nth-child(4) { animation: full-menu-off 1.0s 0.9s both; }





/* 햄버거 메뉴 ver2 */
.btn-line {
  position: relative;
  /* top: 0; */
  /* right: 0; */
  width: 48px;
  height: 48px;
  border: 2px solid #fff;
}
.btn-line.on { animation: btnLineOn 1.95s linear forwards; }
@keyframes btnLineOn {
  0% {border: 2px solid #fff;}
  25% {border: 2px solid #fff;}
  75% {border: 2px solid #000;}
  100% {border: 2px solid #000;}
}
.btn-line.off { animation: btnLineOff 1.95s linear forwards; }
@keyframes btnLineOff {
  0% {border: 2px solid #000;}
  25% {border: 2px solid #000;}
  75% {border: 2px solid #fff;}
  100% {border: 2px solid #fff;}
}

.btn-line.on {
  border: 2px solid #fff;
}

.btn-line .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
}
.btn-line .line-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 16px;
  /* border: 1px solid blue; */
}

/* 라인 1 */
.btn-line .line { width: 100%; height: 2px; background-color: #fff; transition: all 0.5s; }
.btn-line .line:nth-child(1) { position: absolute; top: 0; left: 0; }
.btn-line.on .line:nth-child(1) { animation: line1on 1.65s linear forwards; }
@keyframes line1on {
  0% {top: 0; transform: translate(0, 0); background-color: #fff;}
  25% {top: 50%; transform: translate(0, -50%); background-color: #fff;}
  75% {top: 50%; transform: translate(0, -50%); background-color: #000;}
  100% {top: 50%; transform: translate(0, -50%) rotate(45deg); background-color: #000;}
}
.btn-line.off .line:nth-child(1) { animation: line1off 1.65s linear forwards; }
@keyframes line1off {
  0% {top: 50%; transform: translate(0, -50%) rotate(45deg); background-color: #000;}
  25% {top: 50%; transform: translate(0, -50%); background-color: #000;}
  75% {top: 50%; transform: translate(0, -50%); background-color: #fff;}
  100% {top: 0; transform: translate(0, 0); background-color: #fff;}
}

/* 라인 2 */
.btn-line .line:nth-child(2) { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.btn-line.on .line:nth-child(2) { animation: line2on 0.5s ease forwards; }
@keyframes line2on {
  0% {visibility: visible;}
  25% {visibility: visible;}
  75% {visibility: hidden;}
  100% {visibility: hidden;}
}
.btn-line.off .line:nth-child(2) { animation: line2off 0.5s ease forwards; }
@keyframes line2off {
  0% {visibility: hidden;}
  25% {visibility: hidden;}
  75% {visibility: visible;}
  100% {visibility: visible;}
}

/* 라인 3 */
.btn-line .line:nth-child(3) { position: absolute; bottom: 0; left: 0; }
.btn-line.on .line:nth-child(3) { animation: line3on 1.65s linear forwards; }
@keyframes line3on {
  0% {bottom: 0; transform: translate(0, 0); background-color: #fff;}
  25% {bottom: 50%; transform: translate(0, 50%); background-color: #fff;}
  75% {bottom: 50%; transform: translate(0, 50%); background-color: #000;}
  100% {bottom: 50%; transform: translate(0, 50%) rotate(-45deg); background-color: #000;}
}
.btn-line.off .line:nth-child(3) { animation: line3off 1.65s linear forwards; }
@keyframes line3off {
  0% {bottom: 50%; transform: translate(0, 50%) rotate(-45deg); background-color: #000;}
  25% {bottom: 50%; transform: translate(0, 50%); background-color: #000;}
  75% {bottom: 50%; transform: translate(0, 50%); background-color: #fff;}
  100% {bottom: 0; transform: translate(0, 0); background-color: #fff;}
}













.sub .btn-line {
  position: relative;
  /* top: 0; */
  /* right: 0; */
  width: 48px;
  height: 48px;
  border: 2px solid #000;
}
.sub .btn-line.on { animation: subBtnLineOn 1.95s forwards; }
@keyframes subBtnLineOn {
  0% {border: 2px solid #000;}
  25% {border: 2px solid #000;}
  75% {border: 2px solid #000;}
  100% {border: 2px solid #000;}
}
.sub .btn-line.off { animation: subBtnLineOff 1.95s forwards; }
@keyframes subBtnLineOff {
  0% {border: 2px solid #000;}
  25% {border: 2px solid #000;}
  75% {border: 2px solid #000;}
  100% {border: 2px solid #000;}
}

.sub .btn-line.on {
  border: 2px solid #000;
}

.sub .btn-line .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
}
.sub .btn-line .line-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 16px;
  /* border: 1px solid blue; */
}

/* 라인 1 */
.sub .btn-line .line { width: 100%; height: 2px; background-color: #000; transition: all 0.5s; }
.sub .btn-line .line:nth-child(1) { position: absolute; top: 0; left: 0; }
.sub .btn-line.on .line:nth-child(1) { animation: subLine1on 1.65s forwards; }
@keyframes subLine1on {
  0% {top: 0; transform: translate(0, 0); background-color: #000;}
  25% {top: 50%; transform: translate(0, -50%); background-color: #000;}
  75% {top: 50%; transform: translate(0, -50%); background-color: #000;}
  100% {top: 50%; transform: translate(0, -50%) rotate(45deg); background-color: #000;}
}
.sub .btn-line.off .line:nth-child(1) { animation: subLine1off 1.65s forwards; }
@keyframes subLine1off {
  0% {top: 50%; transform: translate(0, -50%) rotate(45deg); background-color: #000;}
  25% {top: 50%; transform: translate(0, -50%); background-color: #000;}
  75% {top: 50%; transform: translate(0, -50%); background-color: #000;}
  100% {top: 0; transform: translate(0, 0); background-color: #000;}
}

/* 라인 2 */
.sub .btn-line .line:nth-child(2) { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.sub .btn-line.on .line:nth-child(2) { animation: subLine2on 0.5s ease forwards; }
@keyframes subLine2on {
  0% {visibility: visible;}
  25% {visibility: visible;}
  75% {visibility: hidden;}
  100% {visibility: hidden;}
}
.sub .btn-line.off .line:nth-child(2) { animation: subLine2off 0.5s ease forwards; }
@keyframes subLine2off {
  0% {visibility: hidden;}
  25% {visibility: hidden;}
  75% {visibility: visible;}
  100% {visibility: visible;}
}

/* 라인 3 */
.sub .btn-line .line:nth-child(3) { position: absolute; bottom: 0; left: 0; }
.sub .btn-line.on .line:nth-child(3) { animation: subLine3on 1.65s forwards; }
@keyframes subLine3on {
  0% {bottom: 0; transform: translate(0, 0); background-color: #000;}
  25% {bottom: 50%; transform: translate(0, 50%); background-color: #000;}
  75% {bottom: 50%; transform: translate(0, 50%); background-color: #000;}
  100% {bottom: 50%; transform: translate(0, 50%) rotate(-45deg); background-color: #000;}
}
.sub .btn-line.off .line:nth-child(3) { animation: subLine3off 1.65s forwards; }
@keyframes subLine3off {
  0% {bottom: 50%; transform: translate(0, 50%) rotate(-45deg); background-color: #000;}
  25% {bottom: 50%; transform: translate(0, 50%); background-color: #000;}
  75% {bottom: 50%; transform: translate(0, 50%); background-color: #000;}
  100% {bottom: 0; transform: translate(0, 0); background-color: #000;}
}
