@charset "UTF-8";

.dark-mode {
  position: fixed;
  width: 3rem; /* 48px */
  height: 3rem; /* 48px */
  right: 3rem; /* 48px */
  bottom: 3rem; /* 48px */
  z-index: 1000;
}

.dark-mode .btn {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 3rem; /* 48px */
  height: 3rem; /* 48px */
  border-radius: 1.5rem; /* 24px */
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 2rem; /* 32px */
  background-position: center;
}

.dark-mode .light {
  background-color: #fff;
  border: 1px solid #000;
  background-image: url('../image/icon_light.png');
}

.dark-mode .dark {
  background-color: #000;
  border: 1px solid #fff;
  background-image: url('../image/icon_dark.png');
}

body.light {
  transition: all 0.5s ease;
}

body.dark {
  background-color: #000;
  transition: all 0.5s ease;
}

body.dark .header {
  border-bottom: 1px solid #fff;
}

body.dark .header h1 {
  color: #fff;
}

body.dark .container .page-title h2 {
  color: #fff;
}

body.dark .container .page-title h2::after {
  background-color: #fff;
}

body.dark .container .page-title p {
  color: #fff;
}

body.dark .list-content .desc-wrap em {
  color: #fff;
}

body.dark .list-content .desc-wrap strong {
  color: #fff;
}

body.dark .footer {
  border-top: 1px solid #fff;
}

body.dark .footer .cotnent-foot address {
  color: #fff;
}

body.dark .footer .cotnent-foot strong {
  color: #fff;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .dark-mode {
    right: 1.714rem; /* 24px */
    bottom: 3.429rem; /* 48px */
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .dark-mode {
    right: 1.143rem; /* 16px */
    bottom: 3.429rem; /* 48px */
  }
}

@media screen and (max-width: 480px) and (min-width: 0px) {
  .dark-mode {
    right: 1.143rem; /* 16px */
    bottom: 2.286rem; /* 32px */
  }
}
