@charset "UTF-8";

/* CSS 스크롤 따라다니는 애니메이션 */
.wrapper {
  overflow: hidden;
}

.container {
  position: relative;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.scrollbar-circle {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 50px;
  background-color: #eee;
  border-radius: 400px;
  z-index: -9999;
  transform: translate(0, 0);
}

.scrollbar-square {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -8px;
  right: 150px;
  background-color: #eee;
  border-radius: 150px;
  z-index: -9999;
  transform: translate(0, 0);
}

.dark .scrollbar-circle {
  background-color: #333;
}

.dark .scrollbar-square {
  background-color: #333;
}
