@charset "UTF-8";

button.top {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 100px;
  z-index: 1000;
  border: 1px solid #000;
  background-color: #fff;
  padding: 10px 20px;
}

.dark button.top {
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
}
